.logo:hover,
.logo {
  color: transparent;
  height: $header-height;
  width: $sidebar-width;
  transition: all 0.3s ease;
}

.dashboard-collapsed {
  &.logo {
    width: $sidebar-collapsed-width;
  }
}

.logo-img {
  height: 40px;
}

.logo-text {
  filter: contrast(0.3);
  transition: all 0.3s ease;
  width: 83px;

  &.collapsed-text {
    width: 0;
  }
}
