@import "./components/navbar_top";

// navbar top
.nav-search {
  width: 360px;
  height: 48px;
}
.avatar {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.page-body-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.25s ease;
  width: calc(100% - $sidebar-width);
}

.page-body-wrapper.expand {
  width: calc(100% - $sidebar-collapsed-width);
}

@media (max-width: 767px) {
  .page-body-wrapper,
  .page-body-wrapper.expand {
    width: 100%;
  }
}

// horizontal navbar
.horizontal-navbar {
  .nav-link {
    padding: 10px 20px;
    color: #759791;
    margin-right: 4px;
    border-radius: 12px;
    font-size: 1.2rem;
    &:hover {
      background-color: rgba($color: $success, $alpha: 0.5);
      color: $success;
    }

    &.dropdown-toggle::after {
      margin-left: 10px;
    }
  }
}
