@import "./components/navbar_top";

.page-body-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.25s ease;
  width: calc(100% - $sidebar-width);
}

.page-body-wrapper.expand {
  width: calc(100% - $sidebar-collapsed-width);
}

@media (max-width: 767px) {
  .page-body-wrapper,
  .page-body-wrapper.expand {
    width: 100%;
  }
}
