.sdtAdmin {
  &-light {
    background-color: $theme-light-bg-color;

    &.navbar,
    &.logo,
    &.sidebar {
      background-color: $theme-light-sidebar-bg-color;
      color: $theme-light-font-color;
    }

    &.sidebar .accordion-button {
      color: $theme-light-font-color;
    }

    &.dash {
      background: $theme-light-font-color;
    }
  }

  &-dark {
    background-color: $theme-dark-bg-color;

    &.navbar,
    &.logo,
    &.sidebar {
      background-color: $theme-dark-sidebar-bg-color;
      color: $theme-dark-font-color;
    }
    &.sidebar .accordion-button {
      color: $theme-dark-font-color;
    }

    &.dash {
      background: $theme-dark-font-color;
    }
  }
}
