$primary: #1d1faa;
@import "~bootstrap/scss/bootstrap";

.sidebar {
  min-height: 100vh;
  /* background: #191c24; */
  font-weight: normal;
  padding: 0;
  width: 244px;
  z-index: 11;
  transition: width 0.25s ease, left 0.25s ease;
  -webkit-transition: width 0.25s ease, left 0.25s ease;
  -moz-transition: width 0.25s ease, left 0.25s ease;
  -ms-transition: width 0.25s ease, left 0.25s ease;

  .accordion .item-details,
  .profile .info,
  .profile .dropdown,
  .logo-text {
    opacity: 1;
    transition: width 0.35s ease, opacity 0.35s ease;
    -webkit-transition: width 0.35s ease, opacity 0.35s ease;
    -moz-transition: width 0.35s ease, opacity 0.35s ease;
    -ms-transition: width 0.35s ease, opacity 0.35s ease;
  }
}

.page-body-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.25s ease;
  width: calc(100% - 244px);
}

.logo:hover,
.logo {
  color: transparent;
  height: 70px;
}

.logo-img {
  height: 40px;
}

.profile .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.profile .dropdown-toggle:after {
  display: none;
}

.menu-dot-icon {
  width: 18px;
}

// submenu dash
.submenu {
  .dash {
    width: 6px;
    height: 2px;
    background: red;
    margin-right: 4px;
    transition: all 0.3s;
  }

  & li:hover {
    .dash {
      width: 12px;
    }
  }
}
// collapsed dashboard

.dashboard-collapsed {
  .accordion .item-details,
  .profile .info,
  .profile .dropdown,
  .logo-text {
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }

  &.sidebar {
    width: 74px;
  }
}

.page-body-wrapper.expand {
  width: calc(100% - 74px);
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 56px;
    box-shadow: 0 0 0.625rem rgb(0 0 0 / 20%);
  }
  .dashboard-collapsed {
    .accordion .item-details,
    .profile .info,
    .profile .dropdown,
    .logo-text {
      width: auto;
      height: auto;
      overflow: unset;
      opacity: 1;
    }

    &.sidebar {
      width: 244px;
      position: fixed;
      left: -253px;
    }
  }

  .page-body-wrapper,
  .page-body-wrapper.expand {
    width: 100%;
  }
}

// chatbar
.chatbar-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  width: 0;
  right: -100%;
  height: 100%;
  z-index: 99;
  transition: all 0.2s;

  .chatbar {
    position: fixed;
    width: 0;
    height: 100vh;
    z-index: 9999;
    right: -253px;
    transition: all 0.8s ease;
  }

  &.expand {
    width: 100%;
    right: 0;

    .chatbar {
      width: 244px;
      right: 0;
    }
  }
}
